{% extends 'admin/admin_base.html' %}

{% block header %}
  <h1>{% block title %}Admin Home{% endblock %}</h1>
{% endblock %}

{% block content %}
<ul class="bg-white border">
    <li><a href="{{url_for('admin.users.users')}}">User Management</a></li>
    <li><a href="{{url_for('admin.scrape_api.scrape_management')}}">Datascrape Controls</a></li>
    <li><a href="{{url_for('admin.db_mgmt_api.db_mgmt_home')}}">Database Management</a></li>
    <li><a href="{{url_for('admin.model_mgmt_api.model_mgmt_home')}}">Model Management</a></li>
</ul>
{% endblock %}