{% extends 'admin/admin_base.html' %}

{% block header %}
    <h1>{% block title %}Model Management{% endblock %}</h1>
{% endblock %}

{% block content %}
    <ul>

        <li><a href="{{ url_for('admin.model_mgmt_api.get_current_models') }}">get_current_models</a><br/></li>
        <li><a href="{{ url_for('admin.model_mgmt_api.get_historical_models') }}">get_historical_models</a></li>
        <li><a href="{{ url_for('admin.model_mgmt_api.build_model') }}">build custom model</a></li>
        <li><a href="{{ url_for('admin.model_mgmt_api.rebuild_active_models') }}">rebuild active models</a></li>
        <li><a href="{{ url_for('admin.model_mgmt_api.clean_model_files') }}">clean model files</a></li>
    </ul>
    <table class="table table-hover bg-white border">
        <thead class="thead-dark">
        <tr>
            <th scope="col" style="text-align: end;">id</th>
            <th scope="col">model_type</th>
            <th scope="col">model_strategy</th>
            <th scope="col">features</th>
            <th scope="col">target variable</th>
            <th scope="col">score</th>
            <th scope="col">active</th>
            <th scope="col">created_at</th>
            <th scope="col"></th>
        </tr>
        </thead>
        {% for model in models %}
            <tr>
                <td style="text-align: end;">{{ model.id }}</td>
                <td>{{ model.model_type }}</td>
                <td>{{ model.model_strategy }}</td>
                <td>{{ model.features }}</td>
                <td>{{ model.target_variable }}</td>
                <td>{{ model.score }}</td>
                <td>{{ model.active }}</td>
                <td>{{ model.created_at }}</td>
                <td>
                    {% if model.file_name and not model.active %}
                        <form method="post"><button name="model_id" value={{model.id}} type="submit" formaction="{{url_for('admin.model_mgmt_api.set_active_model')}}">Set Active</button></form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}