
body {
  background-size: cover;

  background: url(polygon_bg.svg) center center no-repeat fixed;
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background-image: url(polygon_bg_mobile.svg);
  }
	}