#indexmenu .row .col-sm:hover {
    background-color: aliceblue;
}
#indexmenu .row .col-sm {
    background-color: rgb(233, 245, 255);
}

main {
    text-align: center;
}

.form-control {
    display: inline-block;
    width: auto;
}

.container {
    max-width:100%;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.table-bordered td, .table-bordered th  {
    border: 1px solid #000000
}

.gamewin {
    color:rgb(107, 221, 107);
    background-color: #343a40!important;
}

.gameloss {
    color: rgb(236, 113, 113);
}



.statcheckboxes {
    padding:10px;
    background-color: #f7f7f9;
}

.teamdetailchoice {
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

#tipfilter {
    max-width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

@media (min-width: 992px) {
    #tipbody {
        margin-left: 30px;
        border-left: 1px solid rgba(0,0,0,.1);
    }
}

nav {
    background-color: #343a40;
}

nav#richmond-tigers, #richmond-tigers:hover {
    color: black;
    background-color: #ffd200;
}

nav#melbourne-demons, #melbourne-demons:hover {
    color: white;
    background-color: #cc2031;
}

nav#brisbane-lions, #brisbane-lions:hover {
    color: white;
    background-color: #7c0040;
}


nav#western-bulldogs, #western-bulldogs:hover {
    color: white;
    background-color: #1b2e71;
}

nav#geelong-cats, #geelong-cats:hover {
    color: white;
    background-color: #002b5c;
}

nav#port-adelaide-power, #port-adelaide-power:hover {
    color: white;
    background-color: #008aab;
}

nav#st-kilda-saints, #st-kilda-saints:hover {
    color: white;
    background-color: #ed1b2f;
}

nav#collingwood-magpies, #collingwood-magpies:hover {
    color: white;
    background-color: #000000;
}

nav#greater-western-sydney-giants, #greater-western-sydney-giants:hover {
    color: white;
    background-color: #f47920;
}

nav#carlton-blues, #carlton-blues:hover {
    color: white;
    background-color: #031a29;
}

nav#fremantle-dockers, #fremantle-dockers:hover {
    color: white;
    background-color: #2a0d54;
}

nav#essendon-bombers, #essendon-bombers:hover {
    color: white;
    background-color: #CC2031;
}

nav#gold-coast-suns, #gold-coast-suns:hover {
    color: white;
    background-color: #ee3728;
}

nav#hawthorn-hawks, #hawthorn-hawks:hover {
    color: white;
    background-color: #4d2004;
}

nav#sydney-swans, #sydney-swans:hover {
    color: white;
    background-color: #ed171f;
}

nav#kangaroos, #kangaroos:hover {
    color: black;
    background-color: #c4d1e5;
}

nav#adelaide-crows, #adelaide-crows:hover {
    color: black;
    background-color: gold;
}

nav#west-coast-eagles, #west-coast-eagles:hover {
    color: black;
    background-color: #f2a900;
}


/*CheckBox*/
  .checkbox-wrapper-31:hover .check {
    stroke-dashoffset: 0;
  }

  .checkbox-wrapper-31 {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
  }
  .checkbox-wrapper-31 .background {
    fill: #ccc;
    transition: ease all 0.3s;
    -webkit-transition: ease all 0.3s;
  }
  .checkbox-wrapper-31 .stroke {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    transition: ease all 0.3s;
    -webkit-transition: ease all 0.3s;
  }
  .checkbox-wrapper-31 .check {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-dashoffset: 22;
    stroke-dasharray: 22;
    transition: ease all 0.3s;
    -webkit-transition: ease all 0.3s;
  }
  .checkbox-wrapper-31 input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    -appearance: none;
    -webkit-appearance: none;
  }
  .checkbox-wrapper-31 input[type=checkbox]:hover {
    cursor: pointer;
  }

.checkbox-wrapper-31 input[type=checkbox]:checked + svg .background.round-check {
    fill: #002b5c;
}
.checkbox-wrapper-31 input[type=checkbox]:checked + svg .background {
    fill: #6cbe45;
  }
  .checkbox-wrapper-31 input[type=checkbox]:checked + svg .stroke {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-31 input[type=checkbox]:checked + svg .check {
    stroke-dashoffset: 0;
  }

/* end checkbox */